<div style="margin-top: 60px">
    <div class="row">
        <div class="col-md-2 sidebar">
            <%- partial('sidebar.ejs') %>
        </div>
        <div class="col-md-10">
            <div style="margin-left: 50px;margin-right: 50px">
                <h1 class="page-header">Manage Symptoms</h1>
            </div>
        </div>
    </div>
</div>