<div class="container" style="margin-top: 60px">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <%- partial('sidebar.ejs')%>
        </div>
        <div style="position:absolute;left: 300px;right: 50px;">
          <h1 class="page-header">Manage Internationalization</h1>
        </div>
    </div>
</div>